.info-container{
    display:flex;
    flex-direction: column;
    line-height: 1.2;
    background: rgba(255, 255, 255, 0.685);
    padding-top:60px;
    padding-left:420px;
}

.fields-box{
    text-align: right;
    font-size: 17px;
    padding-bottom: 20px;
}

.input-box{
    text-align: center;
    box-sizing: border-box;
    width: 270px;
    height: 25px;  
}

.button-container{
    padding-top:30px;
    text-align: center;
    padding-left: 50px;
}

.button-update{
    background: #ffffffc5;
    font-size:17px;
    border-radius: 7px;
    box-sizing: border-box;
    width: 150px;
    height: 40px;  
    border: 1px solid rgba(0, 0, 0, 0.452);
}