<div class="d-flex flex-column flex-grow-1 pt-4">

    <div class="d-flex flex-column align-items-center">
        <div class="d-flex p-2">
            <div class="label">Name</div>
            <div><input type="file" (change)="uploadFile($event)" /></div>
        </div>
        <div class="d-flex p-2">
            <div class="label">Name</div>
            <div><input [(ngModel)]="product.name"></div>
        </div>
        <div class="d-flex p-2">
            <div class="label">Description</div>
            <div><input [(ngModel)]="product.description"></div>
        </div>
        <div class="d-flex p-2">
            <div class="label">Price</div>
            <div><input type="number" [(ngModel)]="product.price"></div>
        </div>
        <div class="d-flex p-2">
            <div class="label">Availability</div>
            <div><input type="checkbox" [checked]="product.isAvailable"></div>
        </div>
        <div class="d-flex p-2">
            <div class="label">Category</div>
            <div>
                <select [(ngModel)]="product.category">
                    <option *ngFor="let category of categories" [ngValue]="category">{{category}}</option>
                </select>
            </div>
        </div>
        <div class="f-flex">
            <button class="p-2 ml-auto example_c" (click)="addProduct()" [disabled]="!isAddAvailable">ADD</button>
        </div>
    </div>

</div>